/*
!/README.md
!/.gitignore
#!/code/user-data/User/*.json
!/fehbg
!/gtk-2.0/gtkrc
!/gtk-3.0/settings.ini
!/i3/
!/i3blocks/
/i3blocks/network
!/kitty/
!/linopen/
!/rofi
#!/sublime-text-3/
#/sublime-text-3/*
#!/sublime-text-3/Installed\ Packages/
#!/sublime-text-3/Packages/
#/sublime-text-3/Packages/*
#!/sublime-text-3/Packages/User/
#/sublime-text-3/Packages/User/*.cache/
!/X11/
!/xinit/
